
     
      <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#">Travel Guide</a>
        
        <!-- Links -->
        <ul class="navbar-nav  ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">World's Best</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Trip Ideas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Subscribe</a>
          </li>
        </ul>
      </nav>    
      
      <div class="container">
          <p>Image Gallery</p>
          <div class="row">
            <div class="col-md-4">
              <div class="thumbnail">
                <a href="../assets/images/lights.jpg" target="_blank">
                  <img src="../assets/images/lights.jpg" alt="Lights" style="width:100%">
                  <div class="caption">
                    <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail">
                <a href="../assets/images/lights.jpg" target="_blank">
                  <img src="../assets/images/lights.jpg" alt="Nature" style="width:100%">
                  <div class="caption">
                    <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail">
                <a href="../assets/images/lights.jpg" target="_blank">
                  <img src="../assets/images/lights.jpg" alt="Fjords" style="width:100%">
                  <div class="caption">
                    <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div #gmap style="width:100%;height:400px"></div>
        