<div class="container">
    <p>Destinations</p>
    <div class="row">
        <div class="col-md-4" *ngFor="let destination of destinations">
            <div class="thumbnail">
                <a routerLink="/destinations/{{ destination._id }}">
                    <img src="../assets/images/lights.jpg" alt="Lights" style="width:100%">
                    <div class="caption">
                        <h3> {{ destination.title }} </h3>
                        <p> {{ destination.desc | slice: 0:330 }} </p>
                    </div>
                </a>
            </div>
        </div>
        <!-- <div #gmap style="width:100%;height:400px"></div> -->
