<!doctype html>
<html>

<head>
    <meta charset="UTF-8">


    <title>SoftAOX | Simple Comment Box using AngularJS</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCZ5z9OlyDgtkYg_hMLMfCZDuru51cIgQ4"></script>
</head>

<body>
    <p>
        Name of Attraction is : {{ attraction?.att_name}} Description of Attraction is:: {{ attraction?.att_desc}} {{attraction?.longitude}} Latitude : {{attraction?.latitude}}
    </p>
    <img src="{{attraction?.img_src}}" alt="{{attraction?.att_name}}" width="500" height="200">
    <div class="container">
        <form [formGroup]="commentFrm" (ngSubmit)="addComment(commentFrm.value)" *ngIf="commentFrm">
            <div class="row">
                <div class="col-md-3">
                    <label>
					Add Comment
					<input type="text" name="comment_content" [formControl]="commentFrm.controls['comment_content']" formControlName="comment_content">
				</label>
                    <input type="submit" class="cta-btn filled" value="Post Comment" [disabled]="!commentFrm.valid">
                </div>
            </div>
        </form>
    </div>

    <div *ngFor="let comm of attraction?.comments">
        <p>Comments is: {{comm.comment_content}}</p>
        <button (click)="deleteComment(comm._id)" class="btns">Delete Comment</button>
    </div>
</body>

</html>